<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dressme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/label_home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Pre App Activities -->
        <activity
            android:name=".MainActivity"
            android:label="@string/label_home"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" /> <!-- Profile, browsing and e-commerce -->
        <activity
            android:name=".InspectItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/label_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileMainActivity"
            android:label="@string/label_profile_main"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".sandbox.SnappingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>